<div id="impress" class="impress-not-supported">
	
	<!-- Include unsupported browser info -->
	
    <div id="title" class="step slide" data-x="0" data-y="0">
	  <h1>Why Twitter Should Hire Me<h1>
	  <h2>February 2012</h2>
	  <h2>Reza Parang</h2>
	  <h2>@rezaparang</h2>
    </div>

	<div id="intro" class="step slide" data-x="500" data-y="500">
	  <h1>Hi, I'm Reza<h1>
	  <h2>and I think I'd be a great fit at Twitter<br />as a product manager on self-service advertising</h2>
    </div>

	<div id="let-me-show-you" class="step slide" data-x="1000" data-y="1000">
	  <h1>Let me show you why...</h1>
    </div>

	<div id="effective-product-manager" class="step slide" data-x="1500" data-y="1500">
	  <h2>an effective product manager would<br />need to know a few things about</h2>
	  <ul>
		<li>how to build self-serve products for marketers</li>
		<li>how campaigns are measured</li>
		<li>understand user interface design</li>
	  </ul>
    </div>

	<div id="my-experience" class="step slide" data-x="2000" data-y="2000">
	  <h1>My experience fits these items well</h1>
    </div>

	<div id="vitrue-tabs" class="step slide" data-x="3000" data-y="2000">
	  <%= image_tag("vitrue-fans-overview-full.png", :alt => "Vitrue Analytics", :class => "vitrue-analytics", :width => '300px') %>
	  <p>At Vitrue, I oversaw Tabs, a social content management system. Marketers make engaging pages for Facebook and the social web by dragging and dropping apps onto a canvas. With some creativity, marketers can create highly engaging destinations for users. And they did.<br />Vitrue Tabs today powers some of the most highly trafficked tabs by the world’s leading brands.</p>
    </div>



</div>

<div class="hint">
    <p>Use a spacebar or arrow keys to navigate</p>
</div>

<script src="/assets/impress.js"></script>