

/*-- Colors

Blue: #00A0B0
Dark gray: #3d3d3d;
Light gray: #7A7A7A;

--*/


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    font-family: Georgia, serif;
    
    min-height: 740px;

    background-image:url('subtle_freckles.png');

    -webkit-font-smoothing: antialiased;
}

a {
color: inherit;
text-decoration: none;
padding: 0 0.1em;
background: rgba(235, 162, 140, 0.5);
border-radius: 0.2em;
-webkit-transition: 0.5s;
-moz-transition: 0.5s;
-ms-transition: 0.5s;
-o-transition: 0.5s;
transition: 0.5s;
}

h1 {
	font-weight: normal;
	font-size: 83px;
	color: #292929;
	margin-bottom: 30px;
	text-shadow: 2px 2px 2px #cccccc;
}

h2 {
	font-size: 34px;
	margin-bottom: 5px;
	color: #666666;
}

h3 {
	font-size: 40px;
	color: #292929;
	font-weight: normal;
	margin-bottom: 20px;
}

h4 {
	font-size: 30px;
	color: #666666;
	font-weight: normal;
}

h5 {
	font-size: 22px;
	color: #666666;
	margin-bottom: 6px;
}

p {
	font-size: 24px;
	color: #666666;
	text-shadow: 0px 1px 0px #ffffff;
}

i {
	font-style: italic;
	font-size: 18px;
	text-shadow: 0px 1px 0px #ffffff;
	color: #666666;
}


ul {
	font-size: 24px;
	color: #666666;
}

img {
	xborder: 3px solid #a1a1a1;
	-moz-box-shadow: 10px 10px 5px #888;
	-webkit-box-shadow: 10px 10px 5px #888;
	box-shadow: 5px 5px 5px #888;
	margin-bottom: 10px;
}

/* Fade out inactive slides */

.step {
    -webkit-transition: opacity 1s;
    -moz-transition:    opacity 1s;
    -ms-transition:     opacity 1s;
    -o-transition:      opacity 1s;
    transition:         opacity 1s;
}

.step:not(.active) {
    opacity: 0.3;
}

div#title {
	width: 600px;
	xborder: 1px solid red;
	font-size: 90px;
	font-weight: bold;
	color: #79BD9A;
	text-shadow: 2px 2px 2px #cccccc;
	margin-top: -89px;
}

div#title span {
	font-weight: bold;
	font-size: 200px;
	color: #CFF09E;
	margin-bottom: 34px;
}

div#title h2 {
	text-shadow: 0px 1px 0px #ffffff;
	margin-left: 22px;
}

div#title h4 {
	margin: 18px 0 0 22px;
	text-shadow: 0px 1px 0px #ffffff;
}

div#title i {
	margin: 0 0 0 22px;
	color: #8a8a8a;
}

div#intro {
	width: 700px;
	xborder: 1px solid red;
}

div#let-me-show-you {
	width: 900px;
	xborder: 1px solid red;
}

div#effective-product-manager {
	width: 700px;
	xborder: 1px solid red;
}

div#effective-product-manager ul {
	margin: 35px 0 0 60px;
}

div#effective-product-manager ul li{
	margin-bottom: 20px;
}

div#my-experience {
	width: 640px;
	xborder: 1px solid red;
}

div#my-experience h1 {
    font-size: 50px;
}

div#vitrue-tabs {
	width: 900px;
	xborder: 1px solid red;
}

div#vitrue-tabs img {
	float: left;
	margin-right: 30px;
}

div#vitrue-tabs p {

}

div#vitrue-tabs-cont-1 {
	width: 720px;
	xborder: 1px solid red;
}


div#vitrue-tabs-cont-2 {
	width: 720px;
	xborder: 1px solid red;
}

div#vitrue-analytics {
	width: 900px;
	xborder: 1px solid red;
}

div#vitrue-analytics img {
	float: left;
	margin-right: 30px;
}

div#user-interface {
	width: 900px;
	xborder: 1px solid red;
}

div#user-interface img {
	float: left;
	margin-right: 30px;
}

div#user-interface p {
	font-size: 20px;
}

div#believe {
	width: 920px;
	xborder: 1px solid red;
}

div#iranian-green-movement {
	width: 650px;
	xborder: 1px solid red;
}

div#iranian-green-movement p {
	font-size: 18px;
}

div#iranian-green-movement img {
	margin-bottom: 20px;
}

div#twitter-bootstrap {
	width: 900px;
	xborder: 1px solid red;
}

div#twitter-bootstrap img {
	margin-bottom: 20px;
}

div#twitter-bootstrap p {
	font-size: 18px;
}

div#thanks {
	width: 800px;
	xborder: 1px solid red;
}

div#thanks p {
	font-size: 26px;
	margin-bottom: 25px;
}

div#thanks div.info-container img {
	width: 100px;
	float: left;
	margin-right: 20px;
}

div#credits {
	width: 900px;
}

div#credits ul {
	margin: 35px 0 0 60px;
}

div#credits ul li{
	margin-bottom: 20px;
}


/* IMPRESS NOT SUPPORTED STYLES */

.fallback-message {
    font-family: sans-serif;
    line-height: 1.3;
    
    display: none;
    width: 780px;
    padding: 10px 10px 0;
    margin: 20px auto;

    border-radius: 10px;
    border: 1px solid #E4C652;
    background: #EEDC94;
}

.fallback-message p {
    margin-bottom: 10px;
}

.impress-not-supported .step {
    position: relative;
    opacity: 1;
    margin: 20px auto;
}

.impress-not-supported .fallback-message {
    display: block;
}




