<!DOCTYPE html>

<!-- Interested in my code? Feel free to ask me why or how I did something: reza.parang@gmail.com -->

<html>
<head>
  <title>ProjectOne</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <link href='http://fonts.googleapis.com/css?family=Ruluko&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
